/* Bleu nextdoor */
.blue {
  background-color: #1A4A80 !important;
}

.blue-text {
  color: #1A4A80 !important;
}

.blue-dark {
  background-color: #193C63 !important;
}

.blue-dark-text {
  color: #193C63 !important;
}

.white-transparent {
  background-color: rgba(255,255,255,0.6);
}

/* Parallax */
.parallax-container {
  height: 600px;
}
.parallax-container .container,
.parallax-container .container .row {
  height: 100%;
}

/* Accueil */

/* label color */
.accueil .input-field label {
 color: #fff;
}
/* label focus color */
.accueil .input-field input[type=text]:focus + label {
 color: #fff;
}
.accueil .input-field input[type=text],
.accueil .input-field input[type=text]:focus,
.accueil .input-field input[type=text].valid,
.accueil .input-field input[type=text].invalid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
 color: #fff;
}
/* icon prefix focus color */
.accueil .input-field .prefix.active {
 color: #fff;
}



/* Footer Collé */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


/* Footer */
footer.page-footer .footer-copyright {
  background-color: rgba(30,30,30,0.2) !important;
}
