/* Bleu nextdoor */
.blue {
  background-color: #1A4A80 !important;
}

.blue-text {
  color: #1A4A80 !important;
}

.blue-dark {
  background-color: #193C63 !important;
}

.blue-dark-text {
  color: #193C63 !important;
}

.white-transparent {
  background-color: rgba(255,255,255,0.6);
}

/* Parallax */
.parallax-container {
  height: 600px;
  background: rgba(0,0,0,0.15);
}


/* Menu */
.brand-logo img {
  width: 80px;
  padding-top: 5%;
}

/* Accueil */

/* label color */
.accueil .input-field label {
 color: #fff;
}
/* label focus color */
.accueil .input-field input[type=text]:focus + label {
 color: #fff;
}

.accueil .input-field label {
  font-size: 1.3rem;
}

.accueil .input-field label.active {
  font-size: 1rem;
}

.accueil .input-field input[type=text],
.accueil .input-field input[type=text]:focus,
.accueil .input-field input[type=text].valid,
.accueil .input-field input[type=text].invalid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
 color: #fff;
}
/* icon prefix focus color */
.accueil .input-field .prefix.active {
 color: #fff;
}
.btn-accueil-menu {
  text-transform: capitalize;
  padding: 0 1rem 0 1rem;
}

.btn-accueil-menu:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: #fff !important;
}

.accueil {
  padding-top: 2.5% !important;
  padding-bottom: 10% !important;
}
.accueil img {
  max-width: 180px;
}
.accueil h2 {
  font-variant: small-caps;
}

.accueil h5 {
  padding: 0 0 4% 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.info-accueil {
  padding-top: 3%;
}


/* Rechercher*/
.rechercher-container {
  height: 800px;
  overflow-y: scroll;
}
.rechercher-card .card-content {
  padding: 5px 20px 20px 20px !important;
}
.rechercher-card .card-title {
  font-size: 20px;
  padding: 10px;
  background-color: #1A4A80;
  color: white;
}

.rechercher-annonce .card-title {
  font-size: 18px;
}
.rechercher-annonce .card-title small {
  font-size: 65%;
}

.rechercher-annonce p span {
  font-size: 25px;
}

.rechercher-annonce .info-annonce {
  font-size: 13px;
}

/* Footer Collé */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


/* Footer */
footer.page-footer .footer-copyright {
  background-color: rgba(30,30,30,0.2) !important;
}
